* {
  margin: 0;
  padding: 0;
}

video {
  position: absolute;
  width: 100vw;
}

@media only screen and (max-width: 768px) {
  body{
    background-position: 0 !important;
  }

  .card{
    width: 330px !important;
    height: 670px !important;
  }

  .bio{
    top: 60% !important;
    width: 300px !important;
    font-size: 15px;
  }

  .profile{
    width: 110px !important;
    height: 110px !important;
  }
}

body {
  background-image: url(img/pexels-rhys-abel-2233101-30719145.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -300px;
  /* background-position: 60px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.card {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  width: 400px;
  height: 550px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -0px;
  display: flex;
  /* Adicione esta linha */
  justify-content: center;
  /* Adicione esta linha */
  position: relative;
}

.profile {
  background-image: url(img/profile-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 20px;
  border: 1px solid black;
  box-shadow: 12px 12px 12px 0px rgba(0, 0, 0, 0.252);
}

.name {
  color: white;
  position: absolute;
  top: 32%;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* From Uiverse.io by vinodjangid07 */
.social {
  border: 1px solid rgb(255, 255, 255);
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.064);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  position: absolute;
  top: 40%;
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .5s;
}

/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .5s;
  border-radius: 5px;
  transform: translateY(-5px);
}

/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .5s;
  border-radius: 5px;
  transform: translateY(-5px);
}

/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .5s;
  border-radius: 5px;
  transform: translateY(-5px);
}

/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .5s;
  border-radius: 5px;
  transform: translateY(-5px);
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .5s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.bio {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.403);
  color: rgb(255, 255, 255);
  position: absolute;
  width: 350px;
  top: 63%;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
}

.button {
  cursor: pointer;
  position: absolute;
  top: 90.5%;
  margin-left: -150px;
  padding: 10px 24px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 450;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.403);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  color: #ffffff;
  scale: 1.05;
  box-shadow: 0 0px 20px rgba(255, 255, 255, 0.4);
  transition: .5s;
}

.button:active {
  scale: 1;
}

.button2 {
  cursor: pointer;
  position: absolute;
  top: 90.5%;
  margin-left: 150px;
  padding: 10px 24px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 450;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.button2::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.403);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button2:hover::before {
  scale: 3;
}

.button2:hover {
  color: #ffffff;
  scale: 1.05;
  box-shadow: 0 0px 20px rgba(255, 255, 255, 0.4);
  transition: .5s;
}

.button2:active {
  scale: 1;
}